Repository richie-tt/mariadb-healthcheck: changes, and which pre-commit hooks are due for each by the changed paths.
All: hadolint, go-unit-tests-healthcheck, go-unit-tests-mariadb, golangci-lint-healthcheck, golangci-lint-mariadb

hadolint:
  name: Run hadolint
  language: system
  entry: hadolint --ignore DL3008
  pass_filenames: true

go-unit-tests-healthcheck:
  name: go unit tests healthcheck
  entry: go test -v -p=1 ./cmd/healthcheck
  pass_filenames: false
  language: system

go-unit-tests-mariadb:
  name: go unit tests mariadb
  entry: go test -v -p=1 ./internal/mariadb
  pass_filenames: false
  language: system

golangci-lint-healthcheck:
  name: golangci lint healthcheck
  entry: golangci-lint run ./cmd/healthcheck
  pass_filenames: false
  language: system

golangci-lint-mariadb:
  name: golangci lint mariadb
  entry: golangci-lint run ./internal/mariadb
  pass_filenames: false
  language: system

Implement healthcheck
  .vscode/settings.json
  README.md
  cmd/healthcheck/const.go
  cmd/healthcheck/factor.go
  cmd/healthcheck/factor_internal_test.go
  cmd/healthcheck/handler.go
  internal/mariadb/connection.go
  internal/mariadb/queries.go
  internal/mariadb/queries_test.go
  sql/create_table.sql
Due: go-unit-tests-healthcheck, go-unit-tests-mariadb, golangci-lint-healthcheck, golangci-lint-mariadb

Working on docs
  .envrc
  .github/workflows/docker.yaml
  README.md
  sql/create_database.sql
  sql/create_user.sql
Due: none

Create go.yml
  .github/workflows/go.yml
Due: none

Working on pipeline
  .github/workflows/docker.yaml
  .github/workflows/go.yml
  README.md
Due: none

Implement healthcheck
  .dockerignore
  .envrc
  .github/workflows/Build.yaml
  .gitignore
  .golangci.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  Dockerfile
  Makefile
  README.md
  assets/liveness_and_readiness.drawio
  assets/liveness_and_readiness.svg
  cmd/healthcheck/const.go
  cmd/healthcheck/factor.go
  cmd/healthcheck/factor_internal_test.go
  cmd/healthcheck/go.mod
  cmd/healthcheck/go.sum
  cmd/healthcheck/handler.go
  cmd/healthcheck/handler_internal_test.go
  cmd/healthcheck/main.go
  cmd/healthcheck/main_internal_test.go
  cmd/healthcheck/types.go
  go.mod
  go.sum
  go.work
  internal/mariadb/connection.go
  internal/mariadb/connection_test.go
  internal/mariadb/go.mod
  internal/mariadb/go.sum
  internal/mariadb/queries.go
  internal/mariadb/queries_test.go
  internal/mariadb/types.go
  sql/create_database.sql
  sql/create_table.sql
  sql/create_user.sql
Due: hadolint, go-unit-tests-healthcheck, go-unit-tests-mariadb, golangci-lint-healthcheck, golangci-lint-mariadb

Working on documentation
  .github/workflows/build.yaml
  Dockerfile
  README.md
  cmd/healthcheck/main.go
Due: hadolint, go-unit-tests-healthcheck, go-unit-tests-mariadb, golangci-lint-healthcheck, golangci-lint-mariadb

Working on test
  .github/workflows/build.yaml
  cmd/healthcheck/main.go
Due: go-unit-tests-healthcheck, go-unit-tests-mariadb, golangci-lint-healthcheck, golangci-lint-mariadb

Working on Lint
  .github/workflows/build.yaml
Due: none

Remove latest tag
  .github/workflows/build.yaml
Due: none

Cleaning the code from comments
  .pre-commit-config.yaml
  cmd/healthcheck/go.mod
  cmd/healthcheck/go.sum
  cmd/healthcheck/main.go
  internal/mariadb/go.mod
  internal/mariadb/go.sum
Due: go-unit-tests-healthcheck, go-unit-tests-mariadb, golangci-lint-healthcheck, golangci-lint-mariadb

Pipeline improvement
  .github/actions/release-tagger/LICENSE
  .github/actions/release-tagger/README.md
  .github/actions/release-tagger/action.yml
  .github/actions/release-tagger/entrypoint.sh
  .github/scripts/.versions
  .github/scripts/install-github-cli.sh
  .github/workflows/build.yaml
  .github/workflows/release-tagging.yml
  cmd/healthcheck/main_test.go
Due: go-unit-tests-healthcheck, go-unit-tests-mariadb, golangci-lint-healthcheck, golangci-lint-mariadb

Add CODEOWNERS
  .github/CODEOWNERS
Due: none

Fix tagging workflow
  .github/workflows/release-tagging.yml
Due: none

Fix tagging workflow
  .github/actions/release-tagger/entrypoint.sh
Due: none

feat: Update action to create release and bump tag
  .github/actions/release-tagger/LICENSE
  .github/actions/release-tagger/README.md
  .github/actions/release-tagger/action.yml
  .github/actions/release-tagger/entrypoint.sh
  .github/scripts/.versions
  .github/scripts/install-github-cli.sh
  .github/workflows/build.yaml
  .github/workflows/release-tagging.yml
Due: none

feat: Tune codecov
  codecov.yml
Due: none

feat: Create dependabot.yml
  .github/dependabot.yml
Due: none

Fix depenbot
  .github/dependabot.yml
Due: none

By missing label, update patch
  .github/workflows/release-tagging.yml
Due: none

Update LICENSE
  LICENSE
Due: none

Bump GO to version 1.25
  .github/workflows/build.yaml
  .golangci.yml
  .pre-commit-config.yaml
  Dockerfile
  cmd/healthcheck/go.mod
  cmd/healthcheck/handler.go
  go.work
  internal/mariadb/go.mod
Due: hadolint, go-unit-tests-healthcheck, go-unit-tests-mariadb, golangci-lint-healthcheck, golangci-lint-mariadb

Bump GO to version 1.25 (#19)
  .github/workflows/build.yaml
  .golangci.yml
  .pre-commit-config.yaml
  Dockerfile
  cmd/healthcheck/go.mod
  cmd/healthcheck/handler.go
  go.work
  internal/mariadb/go.mod
Due: hadolint, go-unit-tests-healthcheck, go-unit-tests-mariadb, golangci-lint-healthcheck, golangci-lint-mariadb

Bump filippo.io/edwards25519 (#20)
  cmd/healthcheck/go.mod
  cmd/healthcheck/go.sum
Due: none

docs: add hardening + refactor + CI design spec
  docs/superpowers/specs/2026-04-27-mariadb-healthcheck-hardening-design.md
Due: none

docs: add PR 1 (refactor) implementation plan
  docs/superpowers/plans/2026-04-27-pr1-refactor.md
Due: none

refactor: collapse to single Go module
  cmd/healthcheck/factor.go
  cmd/healthcheck/go.mod
  cmd/healthcheck/go.sum
  cmd/healthcheck/handler.go
  cmd/healthcheck/types.go
  go.mod
  go.sum
  go.work
  internal/mariadb/connection_test.go
  internal/mariadb/go.mod
  internal/mariadb/go.sum
  internal/mariadb/queries_test.go
Due: go-unit-tests-healthcheck, go-unit-tests-mariadb, golangci-lint-healthcheck, golangci-lint-mariadb

chore(ci): adapt Makefile and build workflow to single-module layout
  .github/workflows/build.yaml
  Makefile
Due: none

refactor: replace mariadb.Query with package-level functions
  cmd/healthcheck/handler.go
  internal/mariadb/queries.go
  internal/mariadb/queries_test.go
  internal/mariadb/types.go
Due: go-unit-tests-healthcheck, go-unit-tests-mariadb, golangci-lint-healthcheck, golangci-lint-mariadb

feat(mariadb): add RunCheck and sentinel errors
  internal/mariadb/check.go
  internal/mariadb/check_test.go
Due: go-unit-tests-healthcheck, go-unit-tests-mariadb, golangci-lint-healthcheck, golangci-lint-mariadb

Path conditions:
  hadolint: any of: ^Dockerfile$
  go-unit-tests-healthcheck: any of: \.go$
  go-unit-tests-mariadb: any of: \.go$
  golangci-lint-healthcheck: any of: \.go$
  golangci-lint-mariadb: any of: \.go$
