Repository richie-tt/mariadb-healthcheck: changes, and which Codecov flags are due for each by the changed paths.
All: mariadb, healthcheck

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%    # the required coverage value
        threshold: 1%  # the leniency in hitting the target

component_management:
  individual_components:
    - component_id: mariadb
      name: mariadb
      paths:
        - internal/mariadb
    - component_id: healthcheck
      name: healthcheck
      paths:
        - cmd/healthcheck

test(mariadb): cover ErrScan path in TestRunCheck
  internal/mariadb/check_test.go
Due: mariadb

refactor(handler): delegate SQL sequence to mariadb.RunCheck
  cmd/healthcheck/handler.go
Due: healthcheck

chore: preserve filippo.io/edwards25519 v1.1.1 indirect pin
  go.mod
  go.sum
Due: none

refactor: collapse to single Go module + extract RunCheck (PR 1 of 3) (#21)
  .github/workflows/build.yaml
  Makefile
  cmd/healthcheck/factor.go
  cmd/healthcheck/go.mod
  cmd/healthcheck/go.sum
  cmd/healthcheck/handler.go
  cmd/healthcheck/types.go
  docs/superpowers/plans/2026-04-27-pr1-refactor.md
  docs/superpowers/specs/2026-04-27-mariadb-healthcheck-hardening-design.md
  go.mod
  go.sum
  go.work
  internal/mariadb/check.go
  internal/mariadb/check_test.go
  internal/mariadb/connection_test.go
  internal/mariadb/go.mod
  internal/mariadb/go.sum
  internal/mariadb/queries.go
  internal/mariadb/queries_test.go
  internal/mariadb/types.go
Due: mariadb, healthcheck

docs: add PR 2 (security + logic) implementation plan
  docs/superpowers/plans/2026-04-27-pr2-security-logic.md
Due: none

refactor(mariadb): build DSN via mysql.Config; tune pool; drop url.Parse
  internal/mariadb/connection.go
  internal/mariadb/connection_test.go
Due: mariadb

test(mariadb): assert DSN password survives round-trip via mysql.ParseDSN
  internal/mariadb/connection_test.go
Due: mariadb

feat(server): add ReadHeaderTimeout and IdleTimeout
  cmd/healthcheck/const.go
  cmd/healthcheck/main.go
  cmd/healthcheck/main_test.go
Due: healthcheck

feat(server): add graceful shutdown on SIGINT/SIGTERM
  cmd/healthcheck/const.go
  cmd/healthcheck/main.go
  cmd/healthcheck/main_test.go
Due: healthcheck

feat(security): require DB_PASSWORD; drop silent default
  README.md
  cmd/healthcheck/const.go
  cmd/healthcheck/factor.go
  cmd/healthcheck/factor_internal_test.go
Due: healthcheck

refactor(factor): replace per-field branches with or/intOr/boolOr helpers
  cmd/healthcheck/const.go
  cmd/healthcheck/factor.go
Due: healthcheck

fix(check): treat sql.ErrNoRows as ErrValidate; drop unreachable check
  cmd/healthcheck/handler_internal_test.go
  internal/mariadb/check.go
  internal/mariadb/check_test.go
Due: mariadb, healthcheck

refactor(handler,check): drop dead config.ID; single error-log boundary
  .golangci.yml
  cmd/healthcheck/handler.go
  cmd/healthcheck/handler_internal_test.go
  cmd/healthcheck/types.go
  internal/mariadb/check.go
Due: mariadb, healthcheck

chore: drop bogus //nolint:G706 directives
  cmd/healthcheck/handler.go
  internal/mariadb/check.go
Due: mariadb, healthcheck

docs: align README + SQL example with PR 2 behavior changes
  README.md
  sql/create_user.sql
Due: none

refactor(server): extract awaitShutdown helper from run()
  cmd/healthcheck/main.go
Due: healthcheck

test(cmd): cover awaitShutdown and handler ErrScan branch
  cmd/healthcheck/handler_internal_test.go
  cmd/healthcheck/main_test.go
Due: healthcheck

ci(codecov): make patch threshold explicit (85% target, 5% slack)
  codecov.yml
Due: none

feat(security+logic): DSN hardening, required DB_PASSWORD, graceful shutdown (PR 2 of 3) (#22)
  .golangci.yml
  README.md
  cmd/healthcheck/const.go
  cmd/healthcheck/factor.go
  cmd/healthcheck/factor_internal_test.go
  cmd/healthcheck/handler.go
  cmd/healthcheck/handler_internal_test.go
  cmd/healthcheck/main.go
  cmd/healthcheck/main_test.go
  cmd/healthcheck/types.go
  codecov.yml
  docs/superpowers/plans/2026-04-27-pr2-security-logic.md
  internal/mariadb/check.go
  internal/mariadb/check_test.go
  internal/mariadb/connection.go
  internal/mariadb/connection_test.go
  sql/create_user.sql
Due: mariadb, healthcheck

docs: add PR 3 (CI + Docker + Dependabot) implementation plan
  docs/superpowers/plans/2026-04-27-pr3-ci-docker-dependabot.md
Due: none

chore(dependabot): track github-actions and docker; single root for gomod
  .github/dependabot.yml
Due: none

ci: collapse per-package test+coverage into a single go test ./...
  .github/workflows/build.yaml
Due: none

ci: add govulncheck step
  .github/workflows/build.yaml
Due: none

ci: build multi-arch docker images (linux/amd64, linux/arm64)
  .github/workflows/build.yaml
Due: none

ci: gate auto-tagging behind successful CI run
  .github/workflows/release-tagging.yml
Due: none

build(docker): pin builder base image by digest
  Dockerfile
Due: none

build(docker): drop apk version pins
  Dockerfile
Due: none

ci: pin govulncheck to v1.3.0
  .github/workflows/build.yaml
Due: none

ci: serialize release-tagging with concurrency guard
  .github/workflows/release-tagging.yml
Due: none

ci/build: govulncheck, multi-arch Docker, Dependabot, gated auto-tag (PR 3 of 3) (#23)
  .github/dependabot.yml
  .github/workflows/build.yaml
  .github/workflows/release-tagging.yml
  Dockerfile
  docs/superpowers/plans/2026-04-27-pr3-ci-docker-dependabot.md
Due: none

ci: pin GitHub Actions to commit SHAs and add security policy
  .github/workflows/build.yaml
  .github/workflows/release-tagging.yml
  SECURITY.md
Due: none

ci: pin GitHub Actions to commit SHAs and add security policy (#30)
  .github/workflows/build.yaml
  .github/workflows/release-tagging.yml
  SECURITY.md
Due: none

ci(dependabot): group github-actions updates to reduce PR noise
  .github/dependabot.yml
Due: none

ci(dependabot): group github-actions updates to reduce PR noise (#31)
  .github/dependabot.yml
Due: none

ci: set least-privilege permissions on build workflow
  .github/workflows/build.yaml
Due: none

ci: bump workflow Go version to 1.26.x to match Dockerfile
  .github/workflows/build.yaml
Due: none

ci: pin Go to 1.25.10 instead of 1.26.x
  .github/workflows/build.yaml
Due: none

ci: set least-privilege permissions on build workflow (#35)
  .github/workflows/build.yaml
Due: none
